// gray color는 따로 사용하고, red등의 컬러 추가해서 사용
$color-set: (main: rgb(90, 97, 135),
  sub: rgb(119, 136, 206),
  gray: gray,
  text: black,
  border: #cdcdcd,
);

$zIndex-set: (popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);