/* =================== button =================== */
// .btn-wrap .btn-fixed-wrap btn-double-wrap ...
.btns-wrap {
  @include flex-center {
    flex-wrap: wrap;
  }

  .btn {
    margin: 10px 0;
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0px;
    }
  }
}

.btn {
  @include input-reset;
  @include flex-center(inline-flex);

  min-width: 200px;
  height: 50px;
  border: 2px solid color(main);
  background-color: color(main);
  color: white;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);

  &:disabled {
    background-color: gray;
    cursor: default;
  }
}