/* =================== button =================== */
// .btn-wrap .btn-fixed-wrap btn-double-wrap ...
.btns-wrap {
  @include flex {
    align-items: center;
    flex-wrap: wrap;
  }

  .btn {
    margin: 10px 0;
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0px;
    }
  }
}

.btns-wrap-double {
  @include flex {
    align-items: center;
  }

  .btn {
    width: 50%;
  }
}

.btns-wrap-fixed {
  @include flex-center {
    gap: 10px;
  }

  z-index: z(fixed);
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 50px;

  .btn {
    @include full;
  }
}

.btn {
  @include input-reset;
  @include flex-center(inline-flex);

  cursor: pointer;

  &:disabled {
    background-color: gray;
    cursor: default;
  }
}

// button style
.btn-round {
  border-radius: 30px;
}

.btn-rounded {
  border-radius: 8px;
}

.btn-shadow {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
}